{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'accounts/bulonexIcono.ico' %}">
    <title>{% block title %} Home  {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'accounts/styles_home.css' %}">
</head>
<body>
    
    <a class="log" href="{% url 'login' %}">Iniciar sesión</a>

    <main>
    {% block content %}

    {% endblock %}
    </main>

    <footer>
        <div class="institucionales"> 
            <h3 class="titulo">Institucionales</h3>
                <a href="{% url 'nosotros' %}">Nosotros</a>
                <a href="{% url 'institucionales' %}">Politicas institucionales</a>
    
        </div>

        <div class="apps">
            <h3 class="titulo">Otras apps</h3>
                <a href="{% url 'instagram' %}">Instagram</a>

        </div>
    </footer>
</body>
</html>