{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'accounts/bulonexIcono.ico' %}">
    <link rel="stylesheet" href="{% static 'accounts/styles1.css' %}">
    <title>Login</title>
</head>
<body>
    
    <header>
        <h2 class="title">Inicio de seción</h2>
    </header>

    <main>

        <section>
            
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" id="BtnIngresar">Iniciar sesión</button>

                <a class="register-link" href="{% url 'register' %}">Si no estas registrado, has click aquí</a>
            </form>
        </section>

    </main>

    <footer>
        <div class="institucionales"> 
            <h3 class="titulo">Institucionales</h3>
                <a href="{% url 'nosotros' %}">Nosotros</a>
                <a href="{% url 'institucionales' %}">Politicas institucionales</a>
    
        </div>

        <div class="apps">
            <h3 class="titulo">Otras apps</h3>
                <a href="{% url 'instagram' %}">Instagram</a>

        </div>
    </footer>


</body>
</html>