{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} BULONNEX {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'accounts/styles_pedidosprov.css' %}">
    <link rel="icon" href="{% static 'accounts/bulonexIcono.ico' %}">
</head>
<body>
    <header>
        <h2 class="title">Pedidos a proveedores</h2>
        <a class="user_register" href="{% url 'user_profile' %}">Bienvenido, {{request.user.username}} </a>
        <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn-nuevo" type="submit">Cerrar sesión</button>
    </header>
        
        
<nav>
        <ul class="menu">
            <li><a href="{% url 'general' %}">Inicio</a></li>
            <li class="dropdown">
                <a href="#">Estado de ventas</a>
                <ul class="submenu">
                    <li><a href="{% url 'ventas_geral' %}">General</a></li>
                    <li><a href="#">Desconectadas</a></li>
                </ul>
            </li>
            <li class="dropdown">
            <a href="#">Proveedores</a>
            <ul class="submenu">
                <li><a href="{% url 'agregarproveedor' %}">Agregar proveedor</a></li>
                <li><a href="{% url 'pedidosprov' %}"> Pedidos a proveedores</a></li>

            </ul>
            </li>
            <li><a href="{% url 'productos' %}"> Productos</a></li>
            <li><a href="{% url 'stock' %}"> Stock</a></li>
        </ul>
    </nav>
    <main>
    {% block content %}
        <Button type="button" onclick= "abrirModal('nuevo')" class="btn-nuevo">Agregar pedido producto nuevo </Button>
        <Button type="button" onclick= "abrirModal('existente')" class="btn-nuevo">Agregar pedido producto existente </Button>
            
        <!-- FONDO OSCURO -->
<div id="modal" class="modal">
    
    <!-- CONTENIDO -->
    <div class="modal-contenido">
        
        <span class="cerrar" onclick="cerrarModal()">&times;</span>

        <h3 class="form-title">Nuevo pedido</h3>

                <form method="POST" id="formNuevo">
                    {% csrf_token %}
                        <input type="hidden" name="tipo" id="tipoPedido">
                    {{ form_nuevo.as_p }}

                    <button class="btn-guardar" type="submit">Guardar</button>
                </form>

                <form method="POST" id="formExistente" style="display:none;">
                    {% csrf_token %}
                    <input type="hidden" name="tipo" value="existente">
                    {{ form_existente.as_p }}
                    <button class="btn-guardar" type="submit">Guardar</button>
                </form>
        
    </div>
</div>

    <div class="conteiner-section">
        <section class="nuevos">
            <h3>Lista de pedidos para productos nuevos</h3>

            <table class="tabla-container">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad pedida</th>
                    <th>Email del proveedor</th>
                    <th>Fecha de pedido</th>
                    <th>Acciones</th>
                    <th>Acciones</th>
                    <th>Acciones</th>
                </tr>

                    {% for d in pedidos_nuevos %}
                <tr>
                    <td>{{ d.producto_pedido_new }}</td>
                    <td>{{ d.cantidad_pedida}}</td>
                    <td>{{ d.email }}</td>
                    <td>{{ d.fecha_pedido }}</td>
                    <td><button class="btn-nuevo">Modificar</button></td>
                    <td><button class="btn-nuevo">Eliminar</button></td>
                    <td><button class="btn-nuevo">Enviar</button></td>
                </tr>
                
                {% endfor %}
            </table>
                
        </section>

        
        <section class="existente">
            <h3>Lista de pedidos para productos existente</h3>

            <table class="tabla-container">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad pedida</th>
                    <th>Email del proveedor</th>
                    <th>Fecha de pedido</th>
                    <th>Acciones</th>
                    <th>Acciones</th>
                    <th>Acciones</th>
                </tr>

                    {% for a in pedidos_existentes %}
                <tr>
                    <td>{{ a.producto_pedido_existente }}</td>
                    <td>{{ a.cantidad_pedida}}</td>
                    <td>{{ a.email }}</td>
                    <td>{{ a.fecha_pedido }}</td>
                    <td><button class="btn-nuevo">Modificar</button></td>
                    <td><button class="btn-nuevo">Eliminar</button></td>
                    <td><button class="btn-nuevo">Enviar</button></td>
                </tr>
                
                {% endfor %}
            </table>
                
        </section>
    </div>

        

    {% endblock %}
    </main>
    
        <script>
            function abrirModal(tipo) {
                document.getElementById("modal").style.display = "block";
                document.getElementById("tipoPedido").value = tipo;

                if (tipo=="nuevo"){
                    document.getElementById("formNuevo").style.display="block"
                    document.getElementById("formExistente").style.display="none"
                }else{
                    document.getElementById("formNuevo").style.display="none"
                    document.getElementById("formExistente").style.display="block"
                }
            }

            function cerrarModal() {
                document.getElementById("modal").style.display = "none";
            }

        </script>

    <footer>
        <div class="institucionales"> 
            <h3 class="titulo">Institucionales</h3>
                <a href="{% url 'nosotros' %}">Nosotros</a>
                <a href="{% url 'institucionales' %}">Politicas institucionales</a>
    
        </div>

        <div class="apps">
            <h3 class="titulo">Otras apps</h3>
                <a href="#">Instagram</a>

        </div>
    </footer>
</body>
</html>