{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'accounts/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'accounts/styles1.css' %}">
    <title>Registro de usuarios</title>
</head>
<body>

    <main>
        <section class="registro">
            <form method="POST">

            {% csrf_token %}

            <label>Usuario</label>
            {{ form.username }}
            <ul class="errorlist">{{ form.username.errors }}</ul>
            

            <label>Email</label>
            {{ form.email }}
            <ul class="errorlist">{{ form.email.errors }}</ul>
            

            <label>Contraseña</label>
            {{ form.password1 }}
            <ul class="errorlist"> {{ form.password1.errors }}</ul>
            

            <label>Confirmar contraseña</label>
            {{ form.password2 }}
            <ul class="errorlist">
                {{ form.password2.errors }}
            </ul>
            

            <label>Teléfono</label>
            {{ form.telefono }}
            <ul class="errorlist">{{ form.telefono.errors }}</ul>
            

            <button type="submit">Registrarse</button>


            </form>
            
        </section>

    </main>

    
    
    <footer>
        <div class="institucionales"> 
            <h3 class="titulo">Institucionales</h3>
                <a href="{% url 'nosotros' %}/">Nosotros</a>
                <a href="{% url 'institucionales' %}">Politicas institucionales</a>
    
        </div>

        <div class="apps">
            <h3 class="titulo">Otras apps</h3>
                <a href="{% url 'instagram' %}">Instagram</a>

        </div>
    </footer>
</body>
</html>