{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} BULONNEX {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'accounts/styles_ventasgeral.css' %}">
    <link rel="icon" href="{% static 'accounts/bulonexIcono.ico' %}">
</head>
<body>
    <header>
        <h2 class="title">Ventas</h2>
        <a class="user_register" href="{% url 'user_profile' %}">Bienvenido, {{request.user.username}} </a>
        <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn-nuevo" type="submit">Cerrar sesión</button>
    </header>
        
    <nav>
        <ul class="menu">
            <li><a href="{% url 'general' %}">Inicio</a></li>
            <li class="dropdown">
                <a href="#">Estado de ventas</a>
                <ul class="submenu">
                    <li><a href="{% url 'ventas_geral' %}">General</a></li>
                    <li><a href="#">Desconectadas</a></li>
                </ul>
            </li>
            <li class="dropdown">
            <a href="#">Proveedores</a>
            <ul class="submenu">
                <li><a href="{% url 'agregarproveedor' %}">Agregar proveedor</a></li>
                <li><a href="{% url 'pedidosprov' %}"> Pedidos a proveedores</a></li>

            </ul>
            </li>
            <li><a href="{% url 'productos' %}"> Productos</a></li>
            <li><a href="{% url 'stock' %}"> Stock</a></li>
        </ul>
    </nav>
    <main>

        
    
    <!-- BOTÓN -->
    <button type="button" class="btn-nuevo" onclick="abrirModal()">
        Nueva venta
    </button>

    <!-- MODAL -->
    <div id="modal" class="modal">

        <div class="modal-contenido">

            <span class="cerrar" onclick="cerrarModal()">&times;</span>

            <h3>Nueva venta</h3>

            <form method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn-guardar" type="submit">Guardar</button>
            </form>

        </div>

    </div>

    <!-- TABLA -->
    <section>
        <h3>Lista de ventas</h3>

        <table>
            <tr>
                <th>Fecha</th>
                <th>Producto</th>
                <th>Cantidad</th>
            </tr>

            {% for v in ventas %}
            <tr>
                <td>{{ v.fecha }}</td>
                <td>{{ v.producto }}</td>
                <td>{{ v.cantidad }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>

</main>

<!-- JS -->
<script>
function abrirModal() {
    document.getElementById("modal").style.display = "flex";
}

function cerrarModal() {
    document.getElementById("modal").style.display = "none";
}

// cerrar clic afuera
window.onclick = function(e) {
    let modal = document.getElementById("modal");
    if (e.target === modal) {
        cerrarModal();
    }
}
</script>




    <footer>
        <div class="institucionales"> 
            <h3 class="titulo">Institucionales</h3>
                <a href="{% url 'nosotros' %}">Nosotros</a>
                <a href="{% url 'institucionales' %}">Politicas institucionales</a>
    
        </div>

        <div class="apps">
            <h3 class="titulo">Otras apps</h3>
                <a href="{% url 'instagram' %}">Instagram</a>

        </div>
    </footer>
</body>
</html>